:root{
  --primary: #b58900;
  --second: #839496;
  --third: #2aa198;
  --fourth: #268bd2;
  --light: #fdf6e3;
  --dark: #073642;
}

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.profile-pic{
  border: 5px solid var(--primary);
  background-color: var(--dark);
  border-radius: 30%;
  margin-right: 4rem;
}

.div-line{
  border-color: var(--primary);
  background-color: var(--primary);
  width: 100%;
  height: 5px;
}

.home-container{
  display: flex;
  flex-direction: row;
}

.download-btn{
  height: 3rem;
  width: 8rem;
}

.aboutme{
  padding: 4rem 2rem;
}

.skills-singles{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.skills-singles img{
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--primary);
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.skills-singles img:hover{
  background-color: var(--dark);
}

.single-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-cards img{
  height: 10rem;
}

.portfolioBtn{
  text-decoration: none;
  color: var(--light);
  padding: 3px;
}

.portfolioBtn:hover{
  color: var(--light);
}

footer{
  background-color: var(--second);
  color: var(--dark);
  text-align: center;
  bottom: 0;
  width: 100%;
}

.ficons-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ficons-container i{
  margin: 5px 20px;
  color: var(--dark);
}

@media (max-width: 991px){
  .profile-pic{
    width: 100%;
    margin-bottom: 2rem;
  }

  .home-container{
    display: flex;
    flex-direction: column;
  }

  .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .ficons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .ficons-container i{
    margin: 5px 20px;
  }
}